.NoticeMessage {
    margin-top: -4rem;
    height: 0em;
    background-color: #fff;
    padding: 0rem 2rem;
}

.NoticeMessage-content-text {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 0rem;
    padding: 0rem 2rem;
}

@media (max-width: 1200px) {
    .NoticeMessage {
        margin-top: -4rem;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .NoticeMessage {
        background-color: #333;
    }

    .NoticeMessage-content-text {
        color: #ddd;
    }

    @media (max-width: 1200px) {
        .NoticeMessage {
            margin-top: -4rem;
        }
    }
}