.Score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Score-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 1rem;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.score-section h3 {
    font-size: 1.8rem;
    color: #333;
}

.score-bold-text {
    font-weight: 900;
    font-size: 3.5rem;
    text-shadow: 0 0 0.1em #00000020;
    color: #5C86FF;
}

.average-entry {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.average-entry h1 {
    font-size: 1.8rem;
    color: #333;
}

.average-entry .average-score {
    font-size: 2.5rem;
    color: #5C86FF;
}

.average-pie-chart {
    /* margin-top: -1.2em; */
    padding-right: .5em;
    width: 12%;
}

.score-button {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    letter-spacing: .05em;
    background-color: transparent;
}

.score-button:hover {
    color: #5C86FF;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #FBC56C;
    text-underline-offset: 5px;
}

@media (max-width: 1200px) {
    .Score {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .score-section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: left;
    }

    .score-section h3 {
        width: 90%;
        text-align: left;
        font-size: 1.6em;
    }

    .average-entry {
        width: 90%;
        flex-direction: row;
        font-size: 1.4em;
    }

    .average-entry .average-score {
        font-size: 2rem;
    }

    .Score-header {
        margin-bottom: 0rem;
    }

}

@media screen and (prefers-color-scheme: dark) {
    .Score {
        color: #fff;
    }

    .Score-header {
        color: #fff;
    }

    .score-section h3 {
        color: #fff;
    }

    .average-entry h1 {
        color: #fff;
    }

    .score-button {
        color: #fff;
        background-color: #222;
    }

    .score-button:hover {
        color: #fff;
    }
}