html {
  background-color: #fff;
}

.App-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* background-color: #ffffff;
  opacity: 0.05;
  background-image:  linear-gradient(#5c86ff 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(to right, #5c86ff 1.4000000000000001px, #ffffff 1.4000000000000001px);
  background-size: 28px 28px; */
}

.App {
  text-align: center;
  /* background-color: #fff; */
  /* min-height: 100vh; */
  /* min-width: 100vw; */
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

header {
  min-height: 12vh;
}

.App-main {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* max-height: 100vh; */
}

@media (max-height: 800px) {
  .App-main {
    margin-top: 2em;
    gap: 2rem;
  }
}

.App-footer {
  position: absolute;
  bottom: .1em;
  width: 100%;
}

.App-footer-bottom {
  position: relative;
  margin-top: 3em;
}

@media (max-width: 1200px) {
  .App-footer {
    margin-top: 8rem;
  }

  .App-main {
    gap: 2rem;
  }

  header {
    min-height: 10vh;
  }

  .App-footer-bottom {
    margin-top: 1em;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: #222;
  }

  .App-background {
    background-color: #222;
    opacity: 0.05;
    background-image:  linear-gradient(#5c86ff 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(to right, #5c86ff 1.4000000000000001px, #222 1.4000000000000001px);
  }

  .App {
    background-color: #222;
  }
}