.App {
  text-align: center;
  background-color: #fff;
  /* min-height: 100vh; */
  /* min-width: 100vw; */
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}

header {
  min-height: 12vh;
}

.App-main {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* max-height: 100vh; */
}

.App-footer {
  margin-top: 7rem;
  width: 100%;
}